    \documentclass[a4paper]{article}
    \usepackage[utf8]{inputenc}
    \usepackage[export]{adjustbox}
    \usepackage{graphicx}
    \usepackage{geometry}
    \usepackage{float}
    \usepackage{ragged2e}
    \usepackage{scrextend}
    \geometry{
        a4paper,
        margin=1in,
    }

    \usepackage{anyfontsize}
    \usepackage{tikz}
    \usepackage{multicol}
    \usepackage{tocloft}
    \usepackage{array}
    \usepackage{enumitem}

    % Remove page numbers from TOC
    \cftpagenumbersoff{section}
    % Hide section numbers in body (sections still appear in TOC)
    \setcounter{secnumdepth}{0}

    \begin{document}

    % Remove page numbers from all pages
    \pagestyle{empty}
    \pagenumbering{gobble}

    % Cover page with image
    \begin{center}
        \includegraphics[width=\textwidth, height=\textheight, keepaspectratio]{images/banjul-declaration.jpg}
    \end{center}
    \newpage

    % Title page
    \vspace*{2cm}
    \begin{center}
        {\fontsize{60}{72}\selectfont For The Gambia\\[1.2cm]our homeland...}

        \vspace{3.5cm}
        \includegraphics[width=0.55\textwidth, keepaspectratio]{images/gambia-flag.png}
    \end{center}

    \vspace*{\fill}

    \begin{flushright}
        {\Large with love from Michael Postmann and Gitti Sanji Sanyang}
    \end{flushright}
    \newpage

    \section*{Contents}
    \begin{multicols}{{ '{' }}2{{ '}' }}
    \begin{description}[nosep, leftmargin=0pt]
    {% for tree in trees %}
    \item[] {{ tree['Name']|replace('&', '\\&')|replace('_', '\\_')|replace('%', '\\%')|replace('#', '\\#') }} \dotfill {{ tree['ID'] }}
    {% endfor %}
    \end{description}
    \end{multicols}
    \newpage

    \section*{Germination Methods}

    \begin{description}

    \item[Direct Sow]
    Plant the seeds directly into the garden soil at the depth indicated on the seed packet, then cover gently with soil. This avoids root disturbance.

    \item[Cold Stratification]
    Place seeds in a moist medium (such as a damp paper towel), seal them in a plastic bag, and keep them in the refrigerator for 3--8 weeks to simulate winter before planting.

    Seeds like appricot, cherry, peach, plum, apple, pear, and some maples often require cold stratification to simulate natural winter conditions as otherwise they may not germinate.

    \item[Simple Soak \& Sow]
    Submerge seeds in a cup of lukewarm water for 12--24 hours. Once the seeds have swollen from absorbing water, remove them and plant immediately.

    \item[Scarification]
    Physically breach the hard outer shell of the seed to let water in. Gently nick the coat with a knife or sand it down with a file, taking care not to damage the seed's eye (hilum).

    \end{description}

    \section*{Legend}

    \begin{multicols}{{ '{' }}2{{ '}' }}
    \begin{tabular}{{ '{' }}c l{{ '}' }}
        \includegraphics[width=1.3cm, height=1.3cm, valign=c]{icons/vine.eps} & \adjustbox{valign=c}{Vine} \\
        \includegraphics[width=1.3cm, height=1.3cm, valign=c]{icons/bamboo.eps} & \adjustbox{valign=c}{Bamboo} \\
        \includegraphics[width=1.3cm, height=1.3cm, valign=c]{icons/shrub.eps} & \adjustbox{valign=c}{Shrub} \\
        \includegraphics[width=1.3cm, height=1.3cm, valign=c]{icons/tree.eps} & \adjustbox{valign=c}{Tree} \\
        \includegraphics[width=1.3cm, height=1.3cm, valign=c]{icons/cactus.eps} & \adjustbox{valign=c}{Cactus}
    \end{tabular}

    \columnbreak

    \begin{tabular}{{ '{' }}c l{{ '}' }}
        \includegraphics[width=1.3cm, height=1.3cm, valign=c]{icons/fruit.eps} & \adjustbox{valign=c}{Edible} \\
        \includegraphics[width=1.3cm, height=1.3cm, valign=c]{icons/blossom.eps} & \adjustbox{valign=c}{Beautiful flowers} \\
        \includegraphics[width=1.3cm, height=1.3cm, valign=c]{icons/fragrant.eps} & \adjustbox{valign=c}{Fragrant} \\
        \includegraphics[width=1.3cm, height=1.3cm, valign=c]{icons/medicinal.eps} & \adjustbox{valign=c}{Medicinal value} \\
        \includegraphics[width=1.3cm, height=1.3cm, valign=c]{icons/wood.eps} & \adjustbox{valign=c}{Valubable wood}
    \end{tabular}
    \end{multicols}

    \newpage

    {% for tree in trees %}

    \label{tree-{{ tree['ID'] }}}
    \addcontentsline{toc}{section}{ {{ tree['ID'] }} {{ tree['Name']|replace('&', '\\&')|replace('_', '\\_')|replace('%', '\\%')|replace('#', '\\#') }} }

    \noindent
    \makebox[\textwidth][c]{{ '{' }}%
        \begin{tabular}{{ '{' }}c{{ '}' }}
            \includegraphics[width=1.3cm, height=1.3cm]{icons/vine{% if tree['vine'] == 'n' %}_grayscale{% endif%}.eps}%
            \includegraphics[width=1.3cm, height=1.3cm]{icons/bamboo{% if tree['bamboo'] == 'n' %}_grayscale{% endif%}.eps}%
            \includegraphics[width=1.3cm, height=1.3cm]{icons/shrub{% if tree['shrub'] == 'n' %}_grayscale{% endif%}.eps}%
            \includegraphics[width=1.3cm, height=1.3cm]{icons/tree{% if tree['tree'] == 'n' %}_grayscale{% endif%}.eps}%
            \includegraphics[width=1.3cm, height=1.3cm]{icons/cactus{% if tree['cactus'] == 'n' %}_grayscale{% endif%}.eps}%
            \includegraphics[width=1.3cm, height=1.3cm]{icons/fruit{% if tree['edible'] == 'n' %}_grayscale{% endif%}.eps}%
            \includegraphics[width=1.3cm, height=1.3cm]{icons/blossom{% if tree['ornam.'] == 'n' %}_grayscale{% endif%}.eps}%
            \includegraphics[width=1.3cm, height=1.3cm]{icons/fragrant{% if tree['fragrant'] == 'n' %}_grayscale{% endif%}.eps}%
            \includegraphics[width=1.3cm, height=1.3cm]{icons/medicinal{% if tree['medicinal'] == 'n' %}_grayscale{% endif%}.eps}%
            \includegraphics[width=1.3cm, height=1.3cm]{icons/wood{% if tree['wood'] == 'n' %}_grayscale{% endif%}.eps}
        \end{tabular}%
    {{ '}' }}
    \hspace*{{ '{' }}-\textwidth{{ '}' }}%
    \begin{tikzpicture}[remember picture, overlay]
        \draw[line width=1pt, fill=white] (0,0) rectangle (1cm,1cm);
        \node at (0.5cm,0.5cm) { {{ tree['ID'] }} };
    \end{tikzpicture}

    \vspace{1cm}

    \begin{center}
        {\huge \textbf{ {{ tree['Name']|replace('&', '\\&')|replace('_', '\\_')|replace('%', '\\%')|replace('#', '\\#') }} }}

        \vspace{0.1cm}

        {\large \textit{ {{ tree['Botanical name']|replace('&', '\\&')|replace('_', '\\_')|replace('%', '\\%')|replace('#', '\\#') }} }}

        \vspace{0.2cm}

        Country of origin: {{ tree['origin_country']|replace('&', '\\&')|replace('_', '\\_')|replace('%', '\\%')|replace('#', '\\#') }}

        \vspace{0.2cm}

        Height: {{ tree['height range (m)']|replace('&', '\\&')|replace('_', '\\_')|replace('%', '\\%')|replace('#', '\\#') }} m

        \vspace{0.2cm}

        Germination method: {{ tree['Stratification']|replace('&', '\\&')|replace('_', '\\_')|replace('%', '\\%')|replace('#', '\\#') }}

        \vspace{0.2cm}

        Germination time: {{ tree['germination time']|replace('&', '\\&')|replace('_', '\\_')|replace('%', '\\%')|replace('#', '\\#') }}
    \end{center}

    \begin{center}
        \includegraphics[width=\textwidth, height=0.5\textheight, keepaspectratio]{photos/{{ tree['Botanical name'] }}/{{ tree['Botanical name']}}.jpg}
    \end{center}

    \vspace{1cm}

    \noindent
    \begin{minipage}{\textwidth}
        \justifying
        {{ tree['Description']|replace('&', '\\&')|replace('_', '\\_')|replace('%', '\\%')|replace('#', '\\#')|replace('$', '\\$') }}
    \end{minipage}

    \newpage

    {% endfor %}

    \newpage
    \section*{Alphabetical index}
    \begin{multicols}{{ '{' }}2{{ '}' }}
    \begin{description}[nosep, leftmargin=0pt]
    {% for tree in trees_sorted %}
    \item[] {{ tree['Name']|replace('&', '\\&')|replace('_', '\\_')|replace('%', '\\%')|replace('#', '\\#') }} \dotfill {{ tree['ID'] }}
    {% endfor %}
    \end{description}
    \end{multicols}

    \end{document}
