    \documentclass[a4paper]{article}
    \usepackage[utf8]{inputenc}
    \usepackage{graphicx}
    \usepackage{geometry}
    \usepackage{float}
    \usepackage{ragged2e}
    \geometry{
        a4paper,
        margin=1in,
    }

    \usepackage{tikz}

    \begin{document}

    {% for tree in trees %}

    \noindent
    \begin{minipage}[t]{0.2\textwidth}
        \begin{tikzpicture}
            \draw[line width=1pt] (0,0) rectangle (1cm,1cm);
            \node at (0.5cm,0.5cm) { {{ tree['ID'] }} };
        \end{tikzpicture}
        \end{minipage}
    \hfill
    \begin{minipage}[t]{0.9\textwidth}
        \centering
        \includegraphics[width=1.5cm, height=1.5cm]{icons/vine{% if tree['vine'] == 'n' %}_grayscale{% endif%}.eps}
        \includegraphics[width=1.5cm, height=1.5cm]{icons/bamboo{% if tree['bamboo'] == 'n' %}_grayscale{% endif%}.eps}
        \includegraphics[width=1.5cm, height=1.5cm]{icons/fruit{% if tree['edible'] == 'n' %}_grayscale{% endif%}.eps}
        \includegraphics[width=1.5cm, height=1.5cm]{icons/tree{% if tree['tree'] == 'n' %}_grayscale{% endif%}.eps}
        \includegraphics[width=1.5cm, height=1.5cm]{icons/shrub{% if tree['shrub'] == 'n' %}_grayscale{% endif%}.eps}
        \includegraphics[width=1.5cm, height=1.5cm]{icons/blossom{% if tree['ornam.'] == 'n' %}_grayscale{% endif%}.eps}
        \includegraphics[width=1.5cm, height=1.5cm]{icons/cactus{% if tree['cactus'] == 'n' %}_grayscale{% endif%}.eps}
        \includegraphics[width=1.5cm, height=1.5cm]{icons/medicinal{% if tree['medicinal'] == 'n' %}_grayscale{% endif%}.eps}
        \includegraphics[width=1.5cm, height=1.5cm]{icons/wood{% if tree['wood'] == 'n' %}_grayscale{% endif%}.eps}
    \end{minipage}

    \vspace{1cm}

    \begin{center}
        {\huge \textbf{ {{ tree['Name'] }} }}
        
        \vspace{0.1cm}

        {\large \textit{ {{ tree['Botanical name'] }} }}
        
        \vspace{0.5cm}

        Height: {{ tree['height range (m)'] }} m
        
        \vspace{0.5cm}

        Germination time: {{ tree['germination time'] }}
    \end{center}

    \begin{center}
        \includegraphics[width=\textwidth, height=0.5\textheight, keepaspectratio]{photos/{{ tree['Botanical name'] }}/{{ tree['Botanical name']}}.jpg}
    \end{center}

    \vspace{1cm}

    \noindent
    \begin{minipage}{\textwidth}
        \justifying
        {{ tree['Description'] }}
    \end{minipage}

    \newpage

    {% endfor %}

    \end{document}
